/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#fff7fb;
    color:#444;
    overflow-x:hidden;
    line-height:1.7;
}

/* ===========================
   HERO
=========================== */

.hero{
    height:100vh;
    background:url("assets/photos/cover.jpg") center center/cover no-repeat;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.35);
    backdrop-filter:blur(2px);
}

.hero-content{
    position:relative;
    z-index:2;
    text-align:center;
    color:white;
    padding:30px;
}

.hero-content h1{
    font-family:'Great Vibes',cursive;
    font-size:72px;
    margin-bottom:20px;
}

.hero-content p{
    font-size:20px;
    margin-bottom:30px
